.navigation {
	background-color: #272c33;

	&__cont {
		display: flex;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		padding: 17px 10px;
	}
	&__logo {
		img {
			width: 200px;
		}
	}
}
